body {
    background-image: url("images/oldPaper.jpg");
    background-color: floralwhite;
    font-family: "Cinzel Decorative";
    color: black;
}
a:visited {
    color: #d8b741;
}
a:hover {
    color: #d4af2b;
}
a:link {
    color: #be9e27;
}
flex-container {
    display: flex;
    justify-content: space-evenly;
}

#map {
    height: 600px;
    width: 800px;
    margin: auto;
    background: black;
}
#map.ainsel {
    height: 600px;
    width: 800px;
    margin: auto;
    background: black;
}
.leaflet-control-mouseposition {
     background-color: rgb(255, 220, 46, 0.5);
}
.header {
    padding: 0em;
    width: auto;
    background: #513605;
    border: #302003;
    border-style: solid;
    color: white;
    text-align: center;
}
.tower {
    background: rgb(207, 172, 42, 0.4);    
}
section.txt {
    background: rgb(207, 172, 42, 0.4);
    width: 80%;
    border: #a98c23;
    border-style: solid;
    margin: auto;
    padding: 1em;
}