body {
    background-image: url("images/oldPaper.png");
    background-color: floralwhite;
    font-family: "Agmena";
    color: black;
}
@font-face {
    font-family: "Agmena";
    src: url("fonts/Agmena W01 Regular.otf") format("opentype");
}
@font-face {
    font-family: "Mantinia Regular";
    src: url("fonts/Mantinia Regular.otf") format("opentype");
}
a:visited {
    color: rgb(242, 110, 44);
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
}
#map {
    height: 600px;
    width: 800px;
    margin: auto;
    background: black;
    border: groove;
    border-width: 5px;
    border-color: rgb(77, 51, 0);
}
.leaflet-control-mouseposition {
    background-color: rgb(255, 220, 46, 0.5);
}
ul#nav {
    overflow: hidden;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}
li.navB {
    display: block;
    padding: 10px;
    font-family: "Mantinia Regular";
    border: groove;
    border-color: rgb(24, 16, 2);
    background-color: rgb(72, 48, 5);
}
a:hover {
    color: #d4af2b;
    background-color: rgb(229, 207, 128, 0.3);
    padding: 2em;
}
a.link {
    padding: 2em;
    text-decoration: none;
    font-size: 20px;
}
.top {
    font-family: "Mantinia Regular";
    color: rgb(229, 207, 128);
}
.header {
    padding: 0em;
    width: auto;
    background: #513605;
    border: #302003;
    border-style: solid;
    color: white;
    text-align: center;
}
.pic {
    height: 60%;
    width: 60%;
    margin-left: 11%;
    padding: 1em;
    border: dashed;
    border-width: 6px;
    border-radius: 1000px;
    border-color: rgb(179, 134, 0, 0.7);
}
.tower {
    background: rgb(207, 172, 42, 0.4);
    display: none;
    padding: 1em;
}
.rem {
    background: rgb(0, 107, 179, 0.4);
    display: none;
    padding: 1em;
}
section.txt {
    background: rgb(207, 172, 42, 0.4);
    width: 80%;
    font-size: 20px;
    border: #a98c23;
    border-style: solid;
    margin: auto;
    padding: 1em;
}