body {
    background-image: url("images/oldPaper.jpg");
    background-color: floralwhite;
    font-family: "Cinzel Decorative";
    color: black;
}
a:visited {
    color: #d8b741;
}
a:hover {
    color: #d4af2b;
}
a:link {
    color: #be9e27;
}
flex-container {
    display: flex;
    justify-content: space-evenly;
}
#image-container {
  width: 100%;
  height: 300px; 
  overflow: hidden; 
  cursor: grab; 
}
#eldenMap {
  width: 100%;
  height: 50%;
}

.header {
    padding: 0em;
    width: auto;
    background: #513605;
    border: #302003;
    border-style: solid;
    color: white;
    text-align: center;
}
section.txt {
    background: rgb(207, 172, 42, 0.4);
    width: 80%;
    border: #a98c23;
    border-style: solid;
    margin: auto;
    padding: 1em;
}